:root {
  --primary-bg-color: #fcddf9;
  --text-color: #3b3b3b;
  --main-bg-color: #432D57ff;
  --main-text-color: #ffffff;
  --main-btn-bg-color: #BB95DBff;
}

body,

h1 {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 25px;
}

p {
color: rgb(34, 34, 34);
font-size: 17px;


}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Add additional styles as needed */
.p-one {
  border-style: solid;
  border-color: #6F498Fff;;
  width: fit-content;
  background-color: rgb(124, 81, 160);;
  margin-top: 20px;
}

/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}

/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

/* Media player styling */
.media-player {
  width: 100%;
  margin: 0 auto;
}

.media-player video {
  max-width: 100%;
}

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

h2 {
  color: rgb(54, 50, 50);
  margin-top: 40px;
  font-size: 40px;
  font-family: Caveat Brush;
  text-align: center;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: none;
}

button {
  padding: 1px 20px;
  background-color: #764580;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #b771d3;
}

#goal-message {
  margin-top: 10px;
  font-style: italic;
  color: rgb(255, 255, 255);
}

/* CSS HEX
--thulian-pink: #C36A90ff;
--african-violet: #CD89C3ff;
--wisteria: #BB95DBff;
--english-violet: #432D57ff;
--ultra-violet: #6F498Fff; */