body {
  font-size: 1rem;
  text-align: left;
  margin: 0 auto;
}

.header {
  padding: 40px;
  text-align: center;
  background-image: url(Pictures/Wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
}

.first {
  background-color: #a290aa;
  color: #ffffff;
  font-size: 1.7rem;
  padding: 10px;
  width: 500px;
  height: 45px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-family: Chewy;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 40px;
}

h2 {
  font-size: 1.4rem;
  text-align: center;
  margin: 0 auto;
}

h4 {
  font-weight: bolder;
  font-size: 1.3rem;
  /* padding-top: 30px; */
  /* text-align: start; */
  /* padding-left: 200px; */
  color: blue;
}

h5 {
  font-weight: bolder;
  font-size: 1.3rem;
  padding-top: 30px;
  text-align: start;
  padding-left: 200px;
  color: blue;
}

h6 {
  font-size: 1.2rem;
}

#grid-container {
  border: 2px dashed #e5e5cb56;
  width: 500px;
  min-height: 500px;
  padding: 10px;
  display: grid;
  gap: 10px;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-rows: 1fr 1fr;
}

.img1 {
  float: right;
  padding: 20px;
  margin-right: 100px;
}

p {
  text-align: left;
  /* padding-left: 300px; */
  margin-top: 10px;
  margin-left: 250px;
  font-size: 1.1rem;
  margin-bottom: 40px;
  color: rgb(32, 32, 32);
}

.list {
  text-align: start;
  font-size: 1.1rem;
  margin-top: 10px;
  margin-left: 300px;
}

.soccer {
  float: left;
  margin-left: 250px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.basketball {
  float: right;
  /* padding:15px; */
  margin-right: 400px;
  margin-bottom: 50px;
}

.column {
  width: 50%;
  float: left;
}

.row {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 10;
  margin-left: 150px;
}
