body {
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
  }
  
  .header {
    padding: 40px;
    text-align: center;
    background-image: url(Pictures/Wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);

  }

  h1 {
    font-size: 3rem;
    font-family: Chewy;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  p {
    font-size: 1.4rem;
    text-align: center;
    margin: 0 auto;
  }
