body {
  background-color: #1a120b;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5cb;
  /* color: #3c2a21; */
  font-size: 1.1rem;
  display: flex;
  text-align: center;
  align-items: center;
}

/* outer bos of size 400x100 */
/* .outer {
  width: 400px;
  border: 2px solid #e5e5cb56;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
} */
h1 {
  text-align: center;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: auto;
}

.border {
  border: 2px solid #e5e5cb56;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.container {
  margin: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3ms;
  position: relative;
  overflow: hidden;
}

.container::before {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /*dark overlay */
  opacity: 1; /* show by default */
  transition: opacity 0.3s ease;
  z-index: 1;
}

.container:hover {
  outline: 4px solid #4e61cd;
  outline-offset: 10px;
  transform: scale(1.08);
  transition: 0.3s ease;
  opacity: 0;
}
