@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');

/* the asteriks represents the universal selector- accounting for the removal of the default margin and padding */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* The body class holds the characteristics for the fonts and background color */
body {
  background: #1f1f1f;
  color: #fff;
  font-family: "Ribeye Marrow", sans-serif;
}

/* h2 class is assigned to the numerical elements of the text so the numbers stand out from the rest of the text */
h2 {
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}

/* The span function is used for certain elements that are designed to be smaller eg. pm, celsius and bpm*/
h2 span {
  font-size: 30px;
}

/* The normal text that outlines the location or type of scenery it is*/
p {
  font-size: 20px;
}

/* The Container class contains all the images and places them all into a grid format */
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

/* Manages how the div class is presented from the centering of the text and how the images are cropped */
.container > div {
  cursor: pointer;
  height: 210px;
  background-size: cover;
  /* background-attachment: fixed; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: all 0.5s ease-in;
}

/* Controls the transitions and animation of the images decreasing its opacity once the mouse hovers over these images. A blue outline appears as well which was done through CHATGPT since I did not know how to make an outline appear in an animated way. */
.container > div:hover {
  opacity: 0;
  transform: scale(0.98);
  outline: 4px solid #4e61cd;
  outline-offset: 10px;
  transform: scale(1.08);
  transition: 0.3s ease;
}

/* Controls how the grid is presented and spans from each columns */
.container > div:nth-of-type(1) {
  grid-column: 1 / 3;
}

.container > div:nth-of-type(6) {
  grid-column: 3 / 5;
}

.container > div:nth-of-type(9) {
  grid-column: 3 / 5;
}

/* I had different classes for different images which differs from the tutorial where he had only used two images with the fixed attribute. All these photos that have been taken on my digital camera evokes a nostalgic feeling to me personally, it makes me appreciate the adventures I go on and demonstrates that a change of scenery is always nice.*/
.bg1 {
  background: url(pictures/DSC01531.jpeg);
}

.bg2 {
  background: url(pictures/DSC01922.JPG);
}

.bg3 {
  background: url(pictures/DSC01923.JPG);
}

.bg4 {
  background: url(pictures/DSC01653.JPG);
}

.bg5 {
  background: url(pictures/DSC01830.JPG);
}

.bg6 {
  background: url(pictures/DSC01796.JPG);
}

.bg7 {
  background: url(pictures/DSC01997.JPG);
}

.bg8 {
  background: url(pictures/DSC01630.JPG);
}

.bg9 {
  background: url(pictures/DSC01556.JPG);
}

/* Grid format tutorial from Traversy Media- Grid Layout with image span (https://www.youtube.com/watch?v=-qOe8lBAChE)*/