* {
  color: hotpink;
}

h1 {
  color: limegreen;
}

li {
  color: blueviolet;
}

/* h1 {
    color: rgb(29, 29, 158);
   
  }
h3 {
    color: red;
  } 

p {
    /* color:brown; */
/* font-weight: bold; 
} 
*/

/*curly braces { } */
/*square brackets [] */
/*parentheses <> */
/*round brackets ()*/
/* colon: */
/* semicolon ; */
/* syntax- rules of writing */

/* ctrl+ / */
